.additional-catalog__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.additional-catalog {
  position: relative;
}

.additional-catalog::before {
  content: "";
  position: absolute;
  top: 41px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 2px;
  background-color: #68b738;

  @media (min-width: @tablet-width) {
    top: 25px;
  }
}

.additional-catalog__list {
  margin-bottom: 35px;

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
    grid-column: 1 / -2;
  }
}

.additional-catalog__product {
  border-top: 1px solid rgba(205, 205, 205, 1);
  display: grid;
  grid-template-rows: repeat(2, 40px);
  padding-top: 0;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    grid-template-rows: 37px;
    column-gap: 0;
    padding: 15px 0 17px 0;
  }
}

.additional-catalog__product:last-child {
  border-bottom: 1px solid rgba(205, 205, 205, 1);
}

.additional-catalog__title {
  display: inline-grid;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(34, 34, 34, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  padding: 25px 20px 0 20px;
  margin-left: -20px;
  text-align: left;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0 40px;
    margin-left: -40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -40px;
    padding: 0 40px 0 40px;
    grid-template-columns: minmax(350px, auto);
  }
}

.additional-catalog__subtitle {
  color: rgba(34, 34, 34, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}


.additional-catalog__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  line-height: 14px;
  align-self: center;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    grid-template-columns: 1fr 82px;
  }
}

.additional-button {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;

  @media (min-width: @desktop-width) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }
}

.additional-catalog__value {
  text-align: right;

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.additional-catalog__promo {
  background: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 290px), url("../img/img_mobile/bg_present.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: rgba(76, 74, 79, 1);
  min-height: 290px;
  max-width: 100%;
  padding: 188px 61px 43px 58px;
  margin-top: 35px;

  @media (min-width: @mobile-width-only) and (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 290px), url("../img/img_mobile/bg_present@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .additional-catalog__promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 0), url("../img/img_tablet/bg_present_tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200px;
  }
}

@media (min-width: @tablet-width) and (min-resolution: 2dppx) {
  .additional-catalog__promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 0), url("../img/img_tablet/bg_present_tablet@2x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog__promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 0), url("../img/img_desktop/bg_present_desktop.jpg");
    background-repeat: no-repeat;
    background-size: 245px auto;
    background-position: 0 0;
  }
}

@media (min-width: @desktop-width) and (min-resolution: 2dppx) {
  .additional-catalog__promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 0), url("../img/img_desktop/bg_present_desktop@2x.jpg");
  }
}
