.card-product {
  border-bottom: 1px solid rgba(235, 235, 235, 1);

  &--more {
    display: block;
    padding: 60px 0 25px 0;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
  }
}

.card-product .wrapper {
  padding: 20px 0 25px 0;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 130px 1fr;
  column-gap: 28px;
  text-align: left;
}

.card-product__container {
  padding-bottom: 17px;
}

.card-product__title {
  color: rgba(34, 34, 34, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 70px;
}

.card-product__title--more {
  position: relative;
  text-align: center;
  padding: 0;

  &::before {
    content: " ";
    position: absolute;
    bottom: 40px;
    left: 120px;
    background-image: url("../img/catalog/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    display: block;
  }
}

.card-product__property--more {
  text-align: center;
}

.card-product__link-title {
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card-product__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 2 / 3;
  color: rgba(68, 68, 68, 1);
  text-align: justify;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
}

.card-product__value {
  text-align: right;
}

.card-product__button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  grid-column: 1 / 3;

  &--more {
    color: rgba(68, 68, 68, 1);
    background-color: rgba(242, 242, 242, 1);
  }
}

.card-product__link-img {
  padding-top: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0 auto;
}
