.card-product {
  padding: 20px 0 25px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img ."
    "img list"
    "button button";
  text-align: left;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 230px auto;
    padding: 0 37px 40px 37px;
    width: 324px;
    grid-template-areas:
      "img"
      "list"
      "button";
    background-color: rgba(242, 242, 242, 1);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 80px, rgba(242, 242, 242, 1) 80px);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.card-product__container {
  grid-area: list;
  padding-bottom: 17px;
}

.card-product__title {
  color: rgba(34, 34, 34, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 60px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 19px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.card-product__link-title {
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card-product__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: rgba(68, 68, 68, 1);
  text-align: justify;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.card-product__value {
  text-align: right;

  @media (min-width: @tablet-width) {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
    margin: 0;
  }
}

.card-product__property {
  @media (min-width: @tablet-width) {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
  }
}

.card-product__button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  grid-area: button;
  cursor: pointer;
  margin-top: auto;

  @media (min-width: @tablet-width) {
    height: 40px;
  }
}

.card-product__link-img {
  padding-top: 15px;
  grid-area: img;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.card-product__picture img {
  @media (min-width: @tablet-width) {
    width: 200px;
    height: 210px;
  }
}
