.contacts{
  min-width: 140px;
}

.contacts__address {
  color: rgba(68, 68, 68, 1);
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
