.developer__logo-image {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.developer__text {
  font-family: "Lato", "Arial", sans-serif;
  color: rgba(68, 68, 68, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding-right: 23px;
    align-self: center;
  }
}
