.example {
  background-color: rgba(234, 234, 234, 1);
  padding: 24px 0 40px 0;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to top, #ebebeb 460px, #ffffff 460px);
    padding-top: 16px;
    padding-bottom: 101px;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to top, #ebebeb 490px, #ffffff 490px);
    padding: 0;
    margin-bottom: -30px;
    margin-left: -1px;
  }
}

.example .wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 227px;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  text-align: left;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
    padding-top: 68px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
    margin-bottom: 78px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
  text-align: center;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
  }
}

.example__item {
  position: relative;
}

.example__number {
  grid-row: 1;
  align-self: center;
  color: rgba(0, 0, 0, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 4px;
  padding: 15px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    padding: 16px 0;
  }
}

.example__text {
  position: absolute;
  background-color: rgba(234, 234, 234, 1);
  top: 46px;
  left: -2px;
  grid-row: 2;
  align-self: center;
  margin: 0 23px 0 23px;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    top: 63px;
    left: 17px;
    padding: 0 14px;
  }

  @media (min-width: @desktop-width) {
    background-color: rgba(234, 234, 234, 1);
  }
}

.example__text--position {
  @media (min-width: @tablet-width) {
    left: 8px;
    padding: 0 10px;
  }
}

.example__expenses {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 21px 17px;
    row-gap: 9px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 160px;
    padding-right: 2px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 180px 100px;
    column-gap: 51px;
    padding: 0;
    text-align: left;
    margin-left: 3px;
  }
}

.example__images {
  display: flex;
  width: 280px;
  margin: 0 auto;
  min-height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    min-height: 512px;
  }
}

.example__image {
  height: 100%;
  width: 140px;
  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }

  @media (min-width: @tablet-width) {
    width: 280px;
  }
}

.example__view {
  position: relative;
}

.example__slider-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 4px;
    height: 256px;
    background-color: rgba(102, 102, 102, 1);

    @media (min-width: @tablet-width) {
      height: 512px;
    }
  }

  &:hover::after {
    background-color: rgba(104, 183, 56, 1);
  }

  &:active::after {
    background-color: rgba(104, 183, 56, 0.6);
  }

  @media (min-width: @desktop-width) {
    top: 41%;
  }
}

.example__slider-img {
  border-radius: 50%;
  position: absolute;
  fill: rgba(102, 102, 102, 1);
  background-color: #ffffff;
  outline: 3px solid rgba(102, 102, 102, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: @desktop-width) {
  .example__slider-button:hover .example__slider-img {
    outline: 3px solid rgba(104, 183, 56, 1);
    fill: rgba(104, 183, 56, 1);
  }
}

@media (min-width: @desktop-width) {
  .example__slider-button:active .example__slider-img {
    outline: 3px solid rgba(104, 183, 56, 0.6);
    fill: rgba(104, 183, 56, 0.6);
  }
}
