.field-group__title {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  margin-right: 72px;
  margin-bottom: 35px;
  margin-left: -20px;
  padding: 0 20px;


  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    height: 2px;
    margin-top: 15px;
    background-color: rgba(104, 183, 56, 1);
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding: 0 40px;
    margin-bottom: 76px;
    margin-left: -38px;

    &::before {
      margin-top: 23px;
    }
  }
}

.field__lead {
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 3px;
  }
}

.field__lead--email {
  padding-bottom: 0;
}

.field__lead--phone {
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-top: 4px;
  }
}

.field__input::placeholder {
  color: rgba(68, 68, 68, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
}

.field-group__list {
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.field-group__list-additional {
  margin-top: -15px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    margin-left: 40px;
    margin-bottom: 37px;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 84px;
    margin-left: 4px;
    margin-bottom: 44px;
  }
}

.field-group__title-additional {
  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }
}

.field-group__list-data {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.field-group__list--border {
  padding: 11px 0;
  margin-bottom: 26px;
  position: relative;

  @media (min-width: @tablet-width) {
    border: 1px solid rgba(231, 231, 231, 1);
    padding: 11px 27px 18px 27px;
    margin-left: 40px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 0.5px;
    background-color: rgba(217, 217, 217, 1);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
    bottom: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}


.field {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 14px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  &--phone {
    margin-bottom: -20px;
  }
}

.field__icon {
  position: relative;
  width: 20px;
  height: 20px;
  left: 249px;
  top: -47px;
  stroke: rgba(34, 34, 34, 1);

  @media (min-width: @tablet-width) {
    left: 634px;
    top: -50px;
  }

  @media (min-width: @desktop-width) {
    left: 537px;
  }
}


.field__input {
  min-width: 100px;
  padding: 12px 29px 10px 14px;
  color: #222222;
  border: 1px solid #e6e6e6;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding: 15px 42px 13px 18px;
    margin-bottom: 20px;
  }

  &:invalid {
    border-width: 2px;
    border-color: rgba(255, 130, 130, 1);
  }
}

.field__input:invalid + .field__icon {

  stroke: rgba(255, 130, 130, 1);
}

.field__input:hover {
  border-color: rgba(205, 205, 205, 1);
}

.field__input:focus-visible ~ .field__icon {
  border: rgba(68, 68, 68, 1);
  stroke: rgba(104, 183, 56, 1);
}

.field__input-data {
  margin: 0;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.field-data {
  margin-bottom: -14px;

  @media (min-width: @desktop-width) {
    margin-bottom: -18px;
  }
}

.title-textarea {
  margin-bottom: 35px;
}

.field-group__area {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-right: 80px;
    width: auto;
  }
}

.field-textarea {
  margin-top: 40px;
  margin-bottom: 19px;
  width: 100%;
  min-height: 150px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 86px;
    min-width: 100%;
    display: inline;
    height: 175px;
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 4px;
    margin-top: 77px;
    margin-bottom: 27px;
  }
}

.form__group--area {
  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -79px;
  }
}
