.field-group__title {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.field__input::placeholder {
  color: rgba(68, 68, 68, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

