.page__title {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  &--black {
    color: rgba(0, 0, 0, 1);
  }
}
