.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(68, 68, 68, 1);
}

.page__main {
  flex-grow: 1;
}

.page-main__promo .wrapper {
  position: relative;
}

.page__subtitle {
  color: rgba(0, 0, 0, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.page__title-form {
  margin-bottom: 37px;
  text-align: left;
}

.page__subtitle-form {
  padding-bottom: 39px;
}

.page__header {
  @media (min-width: @tablet-width) {
    margin-bottom: -39px;
  }
}
