.promo {
  min-height: 440px;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 302px, rgba(255, 255, 255, 1) 302px), url("../img/bg_image_promo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  padding: 27px 0 20px 0;

}

.promo__title {
  padding-bottom: 25px;
}

.promo__text {
  color: rgba(255, 255, 255, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom:0;
}
.promo__image-container{
position: relative;
}

.promo__image {
  display: block;
  padding-top: 30px;

}

.promo__button {
  display: block;
  text-align: center;
  min-width: 280px;
  padding: 8px 44px;
}
