.promo {
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 302px, rgba(255, 255, 255, 1) 302px), url("../img/img_mobile/bg_image_promo.jpg");
  padding: 27px 0 20px 0;
  background-color: rgba(76, 74, 79, 1);
  background-repeat: no-repeat;
  background-position: top;
}

@media (min-width: @mobile-width-only) and (min-resolution: 2dppx) {
  .promo {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 302px, rgba(255, 255, 255, 1) 302px), url("../img/img_mobile/bg_image_promo@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .promo {
    background-color: rgba(255, 255, 255, 1);
    background-image: none;
    min-height: 895px;
    padding-top: 60px;
    padding-left: 190px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/img_desktop/bg_image_promo_desktop.jpg");
    background-color: rgba(76, 74, 79, 1);
    margin-top: -150px;
    padding-top: 150px;
    min-height: 680px;
    background-position: top right;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) and (min-resolution: 2dppx) {
  .promo {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/img_desktop/bg_image_promo_desktop@2x.jpg");
  }
}

.promo .wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.promo__title {
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.promo__text {
  color: rgba(255, 255, 255, 1);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    padding: 0;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    position: relative;
    z-index: 5;
  }
}

.promo__image-container {
  position: relative;
}

.promo__image {
  display: block;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 197px;
    left: -87px;

    @media (min-width: @desktop-width) {
      position: absolute;
      top: 0;
      left: 350px;
    }
  }
}

.promo__picture {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    order: 4;
  }
}

.promo__button {
  display: block;
  text-align: center;
  min-width: 280px;
  padding: 8px 44px;

  @media (min-width: @tablet-width) {
    width: 244px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 26px;
    min-width: auto;
    position: relative;
    z-index: 4;
    margin-top: 50px;
  }
}
